@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0, 0%, 100%, 1;

        --primary: 218, 53%, 21%, 1;

        --secondary: 216, 23%, 49%, 1;

        --white-blue: 199, 73%, 49%, 1;
    }
}

@layer base {
    body {
        @apply bg-background min-h-screen antialiased font-sans text-primary font-normal text-sm;
    }
}